/* main.css */

   /* common */
   .blind {display: block;width: 0;height: 0;overflow: hidden;}

   /*** header ***/
   
#main_wrap {border: 1px solid darkred; color: darkred}
header {border: 1px solid orange;color: orange}
header .header_wrap {border: 1px solid goldenrod;color: goldenrod}
.header_wrap h1 {background: rgba(0,0,0,0.2);}
.header_wrap h1 a {border: 1px solid deepskyblue;color: deepskyblue}